workflow/skeleton.json
{
  "name": "Photography Weather Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule: 06:30 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_debug-config__"
      },
      "id": "a1b2c3d4-0041-0041-0041-000000000041",
      "name": "Code: Debug Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        120
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=__PHOTO_WEATHER_LAT__&longitude=__PHOTO_WEATHER_LON__&models=ukmo_seamless&hourly=cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,visibility,temperature_2m,relativehumidity_2m,dewpoint_2m,precipitation_probability,precipitation,windspeed_10m,windgusts_10m,cape,vapour_pressure_deficit,total_column_integrated_water_vapour&daily=sunrise,sunset&timezone=__PHOTO_WEATHER_TIMEZONE__&forecast_days=5",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "HTTP: Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://air-quality-api.open-meteo.com/v1/air-quality?latitude=__PHOTO_WEATHER_LAT__&longitude=__PHOTO_WEATHER_LON__&hourly=aerosol_optical_depth,dust,uv_index,european_aqi,pm2_5,alder_pollen,birch_pollen,grass_pollen&timezone=__PHOTO_WEATHER_TIMEZONE__&forecast_days=5",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "HTTP: Air Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://aviationweather.gov/api/data/metar?ids=__PHOTO_WEATHER_ICAO__&format=json&taf=false",
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "HTTP: METAR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_score-hours__"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Code: Score Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_best-windows__"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Code: Best Windows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_build-prompt__"
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Code: Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __GROQ_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.4, max_tokens: 800, response_format: { type: 'json_object' } }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "HTTP: Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Merge: Prompt + Groq",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0065-0065-0065-000000000065",
      "name": "Merge: Prompt + Gemini FB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2200,
        420
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0066-0066-0066-000000000066",
      "name": "Merge: Prompt Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0042-0042-0042-000000000042",
      "name": "Merge: Prompt + Debug Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_format-messages__"
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Code: Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "__TELEGRAM_CHAT_ID__"
            },
            {
              "name": "text",
              "value": "={{ $json.telegramMsg }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "HTTP: Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __SENDGRID_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ personalizations: [{ to: [{ email: '__PHOTO_WEATHER_EMAIL_TO__' }] }], from: { email: '__EMAIL_FROM__', name: 'Photo Brief' }, subject: '\ud83d\udcf7 Leeds Photo Brief \u2014 ' + $('Code: Build Prompt').first().json.today, content: [{ type: 'text/plain', value: $json.telegramMsg.replace(/<[^>]+>/g, '') }, { type: 'text/html', value: $json.emailHtml }] }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "HTTP: Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_prepare-debug-email__"
      },
      "id": "a1b2c3d4-0043-0043-0043-000000000043",
      "name": "Code: Prepare Debug Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __SENDGRID_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ personalizations: [{ to: [{ email: $json.debugEmailTo }] }], from: { email: '__EMAIL_FROM__', name: 'Photo Brief Debug' }, subject: $json.debugEmailSubject, content: [{ type: 'text/html', value: $json.debugEmailHtml }] }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0044-0044-0044-000000000044",
      "name": "HTTP: Send Debug Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_prepare-alt-locations__"
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Code: Prepare Alt Locations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          }
        }
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "HTTP: Alt Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "Merge: Alt Weather Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1980,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_score-alternatives__"
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Code: Score Alternatives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_prepare-long-range__"
      },
      "id": "a1b2c3d4-0045-0045-0045-000000000045",
      "name": "Code: Prepare Long Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          }
        }
      },
      "id": "a1b2c3d4-0046-0046-0046-000000000046",
      "name": "HTTP: Long Range Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        640
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0047-0047-0047-000000000047",
      "name": "Merge: Long Range Weather Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1980,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_score-long-range__"
      },
      "id": "a1b2c3d4-0048-0048-0048-000000000048",
      "name": "Code: Score Long Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0049-0049-0049-000000000049",
      "name": "Merge: Scoring + Long Range",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://api.sunsethue.com/forecast?lat=__PHOTO_WEATHER_LAT__&lon=__PHOTO_WEATHER_LON__",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "__SUNSETHUE_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "HTTP: SunsetHue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=__PHOTO_WEATHER_LAT__&longitude=__PHOTO_WEATHER_LON__&hourly=precipitation_probability&timezone=__PHOTO_WEATHER_TIMEZONE__&forecast_days=5",
        "options": {}
      },
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "HTTP: Precip Prob",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://ensemble-api.open-meteo.com/v1/ensemble?latitude=__PHOTO_WEATHER_LAT__&longitude=__PHOTO_WEATHER_LON__&hourly=cloudcover&models=ecmwf_ifs025&timezone=__PHOTO_WEATHER_TIMEZONE__&forecast_days=5",
        "options": {}
      },
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "HTTP: Ensemble",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_build-score-input__"
      },
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "Code: Build Score Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_prepare-azimuth__"
      },
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Code: Prepare Azimuth Samples",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        700
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 250
            }
          }
        }
      },
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "HTTP: Azimuth Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        700
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_aggregate-azimuth__"
      },
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Code: Aggregate Azimuth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-weather__"
      },
      "id": "a1b2c3d4-0025-0025-0025-000000000025",
      "name": "Code: Wrap Weather",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-air-quality__"
      },
      "id": "a1b2c3d4-0026-0026-0026-000000000026",
      "name": "Code: Wrap Air Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-precip-prob__"
      },
      "id": "a1b2c3d4-0027-0027-0027-000000000027",
      "name": "Code: Wrap Precip Prob",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1060
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-metar__"
      },
      "id": "a1b2c3d4-0028-0028-0028-000000000028",
      "name": "Code: Wrap METAR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-sunset-hue__"
      },
      "id": "a1b2c3d4-0029-0029-0029-000000000029",
      "name": "Code: Wrap SunsetHue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1060
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0030-0030-0030-000000000030",
      "name": "Merge: Score Input 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        900
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0031-0031-0031-000000000031",
      "name": "Merge: Score Input 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        900
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0032-0032-0032-000000000032",
      "name": "Merge: Score Input 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1320,
        900
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0033-0033-0033-000000000033",
      "name": "Merge: Score Input 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1540,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-azimuth__"
      },
      "id": "a1b2c3d4-0034-0034-0034-000000000034",
      "name": "Code: Wrap Azimuth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-ensemble__"
      },
      "id": "a1b2c3d4-0035-0035-0035-000000000035",
      "name": "Code: Wrap Ensemble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        620
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0036-0036-0036-000000000036",
      "name": "Merge: Score Input 5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        620
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0037-0037-0037-000000000037",
      "name": "Merge: Score Input 6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1980,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://services.swpc.noaa.gov/products/noaa-planetary-k-index-forecast.json",
        "options": {}
      },
      "id": "a1b2c3d4-0038-0038-0038-000000000038",
      "name": "HTTP: Kp Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-kp-index__"
      },
      "id": "a1b2c3d4-0039-0039-0039-000000000039",
      "name": "Code: Wrap Kp Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0040-0040-0040-000000000040",
      "name": "Merge: Scoring + Kp",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1540,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://aurorawatch.lancs.ac.uk/api/0.1/status/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0050-0050-0050-000000000050",
      "name": "HTTP: AuroraWatch UK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        680
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.nasa.gov/DONKI/CME?startDate=' + $now.minus({days: 3}).toFormat('yyyy-MM-dd') + '&endDate=' + $now.plus({days: 4}).toFormat('yyyy-MM-dd') + '&api_key=__NASA_API_KEY__' }}",
        "options": {}
      },
      "id": "a1b2c3d4-0051-0051-0051-000000000051",
      "name": "HTTP: NASA DONKI CME",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        860
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0052-0052-0052-000000000052",
      "name": "Merge: Aurora HTTP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        680
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "__ADAPTER_wrap-aurora__"
      },
      "id": "a1b2c3d4-0053-0053-0053-000000000053",
      "name": "Code: Wrap Aurora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        680
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0054-0054-0054-000000000054",
      "name": "Merge: Scoring + Aurora",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1540,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=__GEMINI_API_KEY__",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.4, maxOutputTokens: 800, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0060-0060-0060-000000000060",
      "name": "HTTP: Gemini Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 520],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst text = item?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || null;\nreturn [{ json: { geminiResponse: text } }];"
      },
      "id": "a1b2c3d4-0061-0061-0061-000000000061",
      "name": "Code: Extract Gemini Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 520]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst windows = item.windows || [];\nconst topWindow = windows[0];\nconst altLocations = item.altLocations || [];\nconst dontBother = item.dontBother === true;\nconst isAstro = topWindow?.label?.toLowerCase().includes('astro');\nconst isSingleHour = topWindow?.start === topWindow?.end;\nconst range = topWindow?.start && topWindow?.end && !isSingleHour ? `${topWindow.start}–${topWindow.end}` : topWindow?.start || '';\nconst altNames = altLocations.slice(0, 2).map(a => a.name).filter(Boolean).join(' and ');\nlet context;\nif (dontBother) {\n  context = `Today the conditions are genuinely poor for photography in Leeds.${altNames ? ` There are better options nearby: ${altNames}.` : ''} Be honest but find inspiration anyway.`;\n} else if (topWindow) {\n  const label = topWindow.label?.toLowerCase() || 'a window';\n  context = `Today's best window is ${label}${range ? ` from ${range}` : ''}, scoring ${topWindow.peak}/100. ${altNames ? `Nearby options: ${altNames}.` : ''} Conditions lean toward ${isAstro ? 'astrophotography and night skies' : 'golden light and landscape shots'}.`;\n} else {\n  context = 'Conditions today are uncertain in Leeds.';\n}\nconst prompt = `You are a creative photography inspiration companion for a photographer based in Leeds, West Yorkshire.\\n\\n${context}\\n\\nIn 2–3 sentences: where should they go today, what should they look for, what feeling should they chase? Be poetic, evocative, whimsical — no scores, no metrics, no technical advice. Just pure inspiration. Surprise them.`;\nreturn [{ json: { inspirePrompt: prompt } }];"
      },
      "id": "a1b2c3d4-0062-0062-0062-000000000062",
      "name": "Code: Build Inspire Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 740]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=__GEMINI_API_KEY__",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.inspirePrompt }] }], generationConfig: { temperature: 1.0, maxOutputTokens: 400 } }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0063-0063-0063-000000000063",
      "name": "HTTP: Gemini Inspire",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 740],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst text = item?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || null;\nreturn [{ json: { geminiInspire: text } }];"
      },
      "id": "a1b2c3d4-0064-0064-0064-000000000064",
      "name": "Code: Extract Gemini Inspire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 740]
    }
  ],
  "connections": {
    "Schedule: 06:30 Daily": {
      "main": [
        [
          {
            "node": "Code: Debug Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Kp Index",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: AuroraWatch UK",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: NASA DONKI CME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Weather": {
      "main": [
        [
          {
            "node": "HTTP: Air Quality",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Wrap Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Air Quality": {
      "main": [
        [
          {
            "node": "HTTP: Precip Prob",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Wrap Air Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: METAR": {
      "main": [
        [
          {
            "node": "HTTP: SunsetHue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Wrap METAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Score Hours": {
      "main": [
        [
          {
            "node": "Code: Best Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Best Windows": {
      "main": [
        [
          {
            "node": "Code: Prepare Alt Locations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Prepare Long Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Prompt": {
      "main": [
        [
          {
            "node": "HTTP: Groq",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Prompt + Groq",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Gemini Fallback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Build Inspire Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Gemini Fallback": {
      "main": [
        [
          {
            "node": "Code: Extract Gemini Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Gemini Fallback": {
      "main": [
        [
          {
            "node": "Merge: Prompt + Gemini FB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code: Build Inspire Prompt": {
      "main": [
        [
          {
            "node": "HTTP: Gemini Inspire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Gemini Inspire": {
      "main": [
        [
          {
            "node": "Code: Extract Gemini Inspire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Gemini Inspire": {
      "main": [
        [
          {
            "node": "Merge: Prompt Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP: Groq": {
      "main": [
        [
          {
            "node": "Merge: Prompt + Groq",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Prompt + Groq": {
      "main": [
        [
          {
            "node": "Merge: Prompt + Gemini FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Prompt + Gemini FB": {
      "main": [
        [
          {
            "node": "Merge: Prompt Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Prompt Context": {
      "main": [
        [
          {
            "node": "Merge: Prompt + Debug Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Debug Config": {
      "main": [
        [
          {
            "node": "Merge: Prompt + Debug Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Prompt + Debug Config": {
      "main": [
        [
          {
            "node": "Code: Format Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Messages": {
      "main": [
        [
          {
            "node": "HTTP: Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Prepare Debug Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Debug Email": {
      "main": [
        [
          {
            "node": "HTTP: Send Debug Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Alt Locations": {
      "main": [
        [
          {
            "node": "HTTP: Alt Weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Alt Weather Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Alt Weather": {
      "main": [
        [
          {
            "node": "Merge: Alt Weather Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Alt Weather Context": {
      "main": [
        [
          {
            "node": "Code: Score Alternatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Score Alternatives": {
      "main": [
        [
          {
            "node": "Merge: Scoring + Long Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Long Range": {
      "main": [
        [
          {
            "node": "HTTP: Long Range Weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Long Range Weather Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Long Range Weather": {
      "main": [
        [
          {
            "node": "Merge: Long Range Weather Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Long Range Weather Context": {
      "main": [
        [
          {
            "node": "Code: Score Long Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Score Long Range": {
      "main": [
        [
          {
            "node": "Merge: Scoring + Long Range",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Scoring + Long Range": {
      "main": [
        [
          {
            "node": "Merge: Scoring + Kp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Kp Index": {
      "main": [
        [
          {
            "node": "Code: Wrap Kp Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Kp Index": {
      "main": [
        [
          {
            "node": "Merge: Scoring + Kp",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Scoring + Kp": {
      "main": [
        [
          {
            "node": "Merge: Scoring + Aurora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: SunsetHue": {
      "main": [
        [
          {
            "node": "Code: Prepare Azimuth Samples",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Wrap SunsetHue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Precip Prob": {
      "main": [
        [
          {
            "node": "HTTP: METAR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Wrap Precip Prob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Ensemble": {
      "main": [
        [
          {
            "node": "Code: Wrap Ensemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Score Input": {
      "main": [
        [
          {
            "node": "Code: Score Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Azimuth Samples": {
      "main": [
        [
          {
            "node": "HTTP: Azimuth Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Azimuth Weather": {
      "main": [
        [
          {
            "node": "Code: Aggregate Azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Aggregate Azimuth": {
      "main": [
        [
          {
            "node": "HTTP: Ensemble",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Wrap Azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Weather": {
      "main": [
        [
          {
            "node": "Merge: Score Input 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Air Quality": {
      "main": [
        [
          {
            "node": "Merge: Score Input 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Score Input 1": {
      "main": [
        [
          {
            "node": "Merge: Score Input 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Precip Prob": {
      "main": [
        [
          {
            "node": "Merge: Score Input 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Score Input 2": {
      "main": [
        [
          {
            "node": "Merge: Score Input 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap METAR": {
      "main": [
        [
          {
            "node": "Merge: Score Input 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Score Input 3": {
      "main": [
        [
          {
            "node": "Merge: Score Input 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap SunsetHue": {
      "main": [
        [
          {
            "node": "Merge: Score Input 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Score Input 4": {
      "main": [
        [
          {
            "node": "Merge: Score Input 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Azimuth": {
      "main": [
        [
          {
            "node": "Merge: Score Input 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Ensemble": {
      "main": [
        [
          {
            "node": "Merge: Score Input 5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Score Input 5": {
      "main": [
        [
          {
            "node": "Merge: Score Input 6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Score Input 6": {
      "main": [
        [
          {
            "node": "Code: Build Score Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: AuroraWatch UK": {
      "main": [
        [
          {
            "node": "Merge: Aurora HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: NASA DONKI CME": {
      "main": [
        [
          {
            "node": "Merge: Aurora HTTP",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Aurora HTTP": {
      "main": [
        [
          {
            "node": "Code: Wrap Aurora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Wrap Aurora": {
      "main": [
        [
          {
            "node": "Merge: Scoring + Aurora",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Scoring + Aurora": {
      "main": [
        [
          {
            "node": "Code: Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "tags": []
}